@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

* {
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #1D2226;
}

.container {
  padding: 1rem;
}

.title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: white;
}

.sub-title {
  color: #1D2226;
  font-size: 1.125rem;
  margin: 10px 0px 30px;
  opacity: 60%;
  font-weight: 500;
}


@media only screen and (max-width:500px) {
  .button-group {
    flex-direction: column;
    gap: 1rem;
  }

  .title {
    font-size: 1.75rem;
    width: 70%;
  }

  .sub-title {
    width: 75%;
  }
}